[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

astroid="*"
atomicwrites="*"
attrs="*"
click="*"
coverage="*"
flake8="*"
Flask="*"
isort="*"
itsdangerous="*"
Jinja2="*"
lazy-object-proxy="*"
MarkupSafe="*"
mccabe="*"
more-itertools="*"
pluggy="*"
psycopg2="*"
py="*"
pycodestyle="*"
pyflakes="*"
pylint="*"
pytest="*"
pytest-cov="*"
six="*"
Werkzeug="*"
wrapt="*"


[requires]

python_version = "3.6"
