{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body id="page-top">

    <div id="wrapper">

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Page Content -->
          <div class="row justify-content-center">
            <i class="far fa-frown fa-6x" style="margin-top: 20px; margin-right: 10px"></i>
            <h1 class="display-1">404</h1>
          </div>
          <div class="row justify-content-center">
            <p class="lead">Page not found. You can
              <a href="javascript:history.back()">go back</a>
              to the previous page, or
              <a href="/">return home</a>.</p>
          </div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Flamily 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {% include 'logout-modal.html' %}

    {% include 'footer.html' %}
  </body>
</html>
