{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body class="bg-dark">
    <div class="container">
      <div class="row justify-content-center">
        <h1>Place An Order</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <form action="/order/new" method="post">
            <div class="row">
              {% for table in tables %}
              <div class="col-md-3">
                  <div class="well">
                    <input type=radio data-menu_table_id="{{ table.rt_id }}" value="{{ table.rt_id }}" name=table_id required>
                    <h4 class="text-light">Table {{ table.rt_id }}</h4>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="row">
              <div class="col-md-6">
                <table style="width:100%" class="table-dark">
                    <tr>
                      <th>Item</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Quantity</th>
                    </tr>
                    {% for menu_item in menu_items %}
                    <tr>
                      <td>{{ menu_item.name }}</td>
                      <td>{{ menu_item.description }}</td>
                      <td>{{ menu_item.price }}</td>
                      <td><input type="number" data-menu_item_id="{{ menu_item.mi_id }}" name="{{ menu_item.mi_id }}" min="1" max="99"></td>
                    </tr>
                    {% endfor %}
                  </table>
                  <input type=submit class="btn btn-default" value="Create Order">
              </div>
            </form>
            <div class="col-md-6 justify-content-center">
              <form action="/order/get" method="get">
                <h4>Find an existing order</h4>
                Reservation Number:<input type="number" name="rid" min="1" max="999">
                <input type=submit class="btn btn-default" value="Find Order">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
