{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body class="bg-dark">
    <div class="container">
        <div class="row justify-content-center">
          <h1>Welcome to Avalon Smart Restaurant</h1>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-3">
              <div class="well">
                <h4 class="text-light">Table 1</h4>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well">
                <h4 class="text-light">Table 2</h4>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well">
                <h4 class="text-light">Table 3</h4>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well">
                <h4 class="text-light">Table 4</h4>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="btn-toolbar">
          <form action="/robot/proceed" method="get">
            <input type=submit value="Confirm Table" class="btn btn-default">
          </form>
          <form action="/robot" method="get">
            <input type=submit value="Start Over" class="btn btn-default">
          </form>
        </div>
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
