{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body class="bg-dark">
    <div class="container">
      <div class="row justify-content-center">
        <h1>Welcome to Avalon Smart Restaurant</h1>
      </div>
      <div class="row justify-content-center">
        <p class="text-primary">Sorry, there are no available tables for your specified party size.</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="btn-group">
              <button class="btn btn-primary">
                  <a class="justify-content-center" onClick="location.href='/robot/party';">Tap to Start Again</a>
                </button>
                <button class="btn btn-secondary">
                    <a class="justify-content-center" onClick="location.href='/robot';">Cancel</a>
                  </button>
          </div>
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
