{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body class="bg-dark">
    <div class="container">
      <div class="row justify-content-center">
        <h1>Welcome to Avalon Smart Restaurant</h1>
      </div>
      <div class="row justify-content-center">
        <p class="text-primary">Sorry, there are no available tables</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
          <button class="btn btn-secondary">
            <a class="justify-content-center" onClick="location.href='/robot';">Cancel</a>
          </button>
      </div>
    </div>
    <script>
      window.setTimeout(function(){
        window.location.href = "/robot";
      }, 7000);
    </script>
  </body>
  {% include 'footer.html' %}
</html>
