{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body class="bg-dark">

    <div class="container">
      <div class="row justify-content-center">
        <h1 class="h1-robot">Welcome to Avalon Smart Restaurant</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div id="trigger_listen">
          <form action="/robot/party" method="get">
            <button type=submit class="btn start-btn btn-success">Tap to start</button>
          </form>
        </div>
      </div>
    </div>

  </body>

</html>
