{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body class="bg-dark">

    <div class="container">
      <div class="row justify-content-center">
        <h1 class="h1-robot">Please select a table:</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="table-layout" class="container table-layout">
            {% for table in tables %}
            <form action="/robot/table/reserve" class="robotTableReserve" method="post" id="table-{{ table.rt_id }}">
                <button type="submit"
                  class="{%if table.state|string() == 'available' %}
                    available{% else %}unavailable{% endif %}-table
                    table-{{ table.shape }}-{% if table.capacity < 3 %}sm
                    {% else %}lg{% endif %}"
                    {% if table.state|string() != 'available' or people > table.capacity %}
                    disabled
                    {% endif %}"
                  > Table {{ table.rt_id }}
                </button>
                <input type=hidden value="{{ table.rt_id }}" name=table_id>
                <input type=hidden value="{{ people }}" name=group_size>
                <input class="customerImg" type=hidden value="" name=photo>
              </form>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </body>

  {% include 'footer.html' %}

</html>
