{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body class="bg-dark">
    <div class="container">
        <div class="row justify-content-center">
          <h1>Welcome to Avalon Smart Restaurant</h1>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
          <form action="/robot/party-size" method="get">
            <input type=submit id="trigger_listen" value="Tap to start" class="btn start-btn">
          </form>
        <script>
          document.getElementById("trigger_listen").addEventListener("click", function(){irs.listen(["one","two","three","four","five","six","seven","eight","nine","ten","yes","no"], 30000)});
        </script>
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
