{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body class="bg-dark">
    <div class="container">
      <div class="row justify-content-center">
        <h1>Welcome to Avalon Smart Restaurant</h1>
      </div>
      <form method="post" id="robotTableInfo" class="d-none">
        <input name="photo" type="int" id="photo" class="form-control" placeholder="Customer Image" >
      </form>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            {% for table in tables %}
            <div class="col-md-3">
              <div class="well">
                <form action="/robot/table/reserve" method="post">
                  <input type=submit
                  value="Table {{ table.rt_id }}"
                  class="btn btn-default"
                  {% if table.state|string() != 'available' or people > table.capacity %}
                  disabled
                  {% endif %}>
                  <input type=hidden value="{{ table.rt_id }}" name=table_id>
                  <input type=hidden value="{{ people }}" name=group_size>
                  <input type=hidden value="{% include 'photo.txt' %}" name=photo>
                </form>
                <h4 class="text-light">Table {{ table.rt_id }}</h4>
              </div>
            </div>
            <!-- <tr>
              <td>{{ table.rt_id }}</td>
              <td>{{ table.state }}</td>
              <td>{{ table.capacity }}</td>
            </tr> -->
            {% endfor %}
          </div>   
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="btn-toolbar">
          <form action="{{ url_for('robot.reserve_table') }} " id="confirmTable" method="post">
            <input type=submit value="Confirm Table" id="confirm-table-option" class="btn btn-default">
          </form>
          <form action="/robot" method="get">
            <input type=submit value="Start Over" class="btn btn-default">
          </form>
        </div>
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
