{% include 'header.html' %}
  <body class="bg-dark">
    <div class="container">
      <div class="text-center">
        <h1>Welcome to Avalon Smart Restaurant</h1>
        <h4>Enter how many people you wish to seat</h4>
      </div>
      <div id="num-pad" class="container container-space text-center">
        <div class="row">
          <div class="col">
            <button type="button" class="btn-primary button-select-pad">1</button>
            <button type="button" class="btn-primary button-select-pad">2</button>
            <button type="button" class="btn-primary button-select-pad">3</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <button type="button" class="btn-primary button-select-pad">4</button>
              <button type="button" class="btn-primary button-select-pad">5</button>
              <button type="button" class="btn-primary button-select-pad">6</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn-primary button-select-pad">7</button>
            <button type="button" class="btn-primary button-select-pad">8</button>
            <button type="button" class="btn-primary button-select-pad">9</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn-primary button-select-pad">0</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% include 'footer.html' %}
</html>
