{% include 'header.html' %}
  <body id="page-top">

    {% include 'nav.html' %}

    <div id="wrapper">

      {% include 'sidebar.html' %}

      <div id="content-wrapper">

        <div class="container-fluid">

          {% include 'breadcrumb.html' %}

          <h1 class="restuarant-table-heading">Restaurant Tables</h1>

          <!-- TODO: Somehow we need to call Jason's code on submit to take the picture -->
          <form method="post" id="tableInfo" class="d-none">
            <input name="tableId" type="int" id="tableId" class="form-control" placeholder="Table ID" required="required">
            <input name="customerImg" type="int" id="customerImg" class="form-control" placeholder="Customer Image" >
          </form>


          <div id="table-layout" class="container table-layout">
            {% for table in tables %}
            <button type="button" data-tableId="{{ table.rt_id }}"
                    class="{{ table.state }}-table {% if table.capacity < 3 %}table-sm{% else %}table-lg{% endif %}">Table {{ table.rt_id }}</button>
            {% endfor %}
          </div>

          <!-- Modal -->
          <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalLabel">Set status of table <span id="modalTableNumber" style="content=''"></span></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="updateTable" method="post">
                    <input type=submit formaction="{{ url_for('tables.pay') }} " value="Pay" class="btn btn-primary btn-block">
                    <input type=submit formaction="{{ url_for('tables.ready') }} " value="Ready" class="btn btn-primary btn-block">
                    <input type=submit formaction="{{ url_for('tables.maintain') }} " value="Maintain" class="btn btn-primary btn-block">
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>
  {% include 'footer.html' %}
</html>
