{% include 'header.html' %}
  <body>
      <div id="header" class="header-div">
          <h5>Avalon Intelligent Restaurant System</h5>
      <!--Logout button to go here
          nav tag?-->
    </div>

      <div id="table-layout" class="container text-center container-space">
          <div class="row">
              <div class="col">
                <button type="button" class="button-smol-left not-available">Table 1</button>
                <button type="button" class="btn-space button-smol-right">Table 2</button>
              </div>
              <div class="col">
                <button type="button" class="button-large">Table 3</button>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <button type="button" class="button-large">Table 4</button>
              </div>
              <div class="col">
                <button type="button" class="button-large">Table 5</button>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <button type="button" class="button-large">Table 6</button>
              </div>
              <div class="col">
                <button type="button" class="button-smol-left">Table 7</button>
                <button type="button" class="button-smol-right">Table 8</button>
              </div>
          </div>
      </div>


      <!-- query db for table states (which I think is taken care in init.py or routes.py?)
      bootstrap modal for layering the state selection on top of this page
      if table is unavailable, style is .disabled
      post updated state -->
  </body>
  {% include 'footer.html' %}
</html>
