{% with page_title = page_title %}
  {% include 'header.html' %}
{% endwith %}
  <body class="bg-dark">
    <div class="container">
        <div class="row justify-content-center">
          <h1>Welcome to Avalon Smart Restaurant</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div id="trigger_listen">
              <button class="btn start-btn">
                  <a class="justify-content-center" onClick="location.href='/robot/listen';">Tap to start</a>
              </button>
          </div>
        </div>
    </div>
  </body>
</html>
