<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IRS - Table Status</title>

	<!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body>
    <div id="header" class="header-div">
        <h5>Avalon Intelligent Restaurant System</h5>
		<!--Logout button to go here
        nav tag?-->
	</div>

    <div id="table-layout" class="container text-center container-space">
        <div class="row">
            <div class="col">
              <button type="button" class="button-smol-left not-available">Table 1</button>
              <button type="button" class="btn-space button-smol-right">Table 2</button>
            </div>
            <div class="col">
              <button type="button" class="button-large">Table 3</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="button-large">Table 4</button>
            </div>
            <div class="col">
              <button type="button" class="button-large">Table 5</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="button-large">Table 6</button>
            </div>
            <div class="col">
              <button type="button" class="button-smol-left">Table 7</button>
              <button type="button" class="button-smol-right">Table 8</button>
            </div>
        </div>
    </div>


    <!-- query db for table states (which I think is taken care in init.py or routes.py?)
    bootstrap modal for layering the state selection on top of this page
    if table is unavailable, style is .disabled
    post updated state -->


	<!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
</body>

</html>